
  @font-face {
    font-family: "NeueKonstantGrotesk-Book";
    src: url("NeueKonstantGrotesk-Book.otf") format("truetype");
  }



  body {
    font-family: 'NeueKonstantGrotesk-Book', sans-serif;
     padding: 0;
     margin: 0;
     background:rgba(44, 57, 75, 1);
  }
    .container {
      display: block;
      margin-bottom: 2px;
      padding: none;
    }
    .container .container1 {
  /* Estilos do primeiro contêiner header */
  
  background-color:rgba(44, 57, 75, 1);
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NeueKonstantGrotesk-Book', sans-serif;
}

.logo img {
  width: 100px; /* Defina o tamanho desejado para a imagem */
  margin-left: 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 50px; /* Espaçamento entre os itens do menu */
  margin-right: 35px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

/* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  
  .menu {
    margin-top: 10px; /* Espaçamento entre o logo e o menu no modo responsivo */
  }
  
  .menu li {
    margin-left: 0;
    margin-bottom: 5px; /* Espaçamento vertical entre os itens do menu no modo responsivo */
  }
}
  


.container .container2 {
    background-color:rgba(44, 57, 75, 1);
  /* Estilos do segundo contêiner usuario */
    margin-top: 40px;
    margin-bottom: 200px;
    display: flex;
    position: relative;
 } 

.container .container3 {
  /* Estilos do terceiro contêiner text em baixo do ing*/
  background-color:rgba(44, 57, 75, 1);
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
}


.flex-conTaineR {
  display: flex;
  background:url(imag/bck-show.jpg);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}


.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


.text-ridth{
    font-size: 35px;
    text-align: left;
    width: 50%;
    height: 50%;
    margin-top: 120px;
   margin-left: 150px;
   

}

.box-imags{
margin-left: -50px;
margin-bottom: 35px;
}

.flex-Map {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.flex-map{
  width:50%;
  height: 40%;

}
.flex-map > img{
  width:350px;
  height: 350px;
  margin-left: 50px;
  margin-top: 50px;
}


.flex-social-icons{
  width:50%;
  height: 50%;
}
.flex-map:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-social-icons:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
  
/* estilo da 1ª imag  */
.box-imag{
    width: 50%;
    height: 50%;
 }
 .box-imag > img{
  width: 450px;
  height: 450px;
  margin-left: 40px;
 }
 .text-left{
    font-size: 20px;
    text-align: left;
    width: 50%;
    height: 50%;
   margin-left: 50px;
   margin-right: 50px;
 }
 
 .box-imags{
    width: 50%;
    height: 20%;
 }
 .box-imags > img{
  width: 450px;
  height: 450px;
  margin-left: 40px;
 }

 .container .container5 {
  background-color: #082032; /* Definir a cor de fundo do .container5 */
  display: flex;
 
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.container5 p {
  color: #ffffff; /* Definir a cor do texto do elemento <p> */
  text-align: center; /* Centralizar o texto dentro do elemento <p> */
  margin-top: 20px;
} 
 
  
   p{
    color: aliceblue;
   }
   h2 , h1 {
    color: rgba(255, 76, 41, 1);
   }
   hr{
  border-top-color:#78a2ee; /* Define a cor da hr */
  opacity:2;
  height: 1px; /* Define a altura da hr */
  width: 150px; /* Define a largura da hr */
  margin: 0 auto; /* Centraliza a hr horizontalmente */
} 

.retangulo-III {
    width: 350px;
    height: 95px;
  padding: none;
  border-radius: 5px;
}

.retangulo-III hr{
  width: 1px;
  height: 450px;
  align-items: center ;
  margin-top: 35px;
}
.retangulo-III .caixa {
  background-color: rgba(44, 57, 75, 1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.retangulo-III .local img,
.retangulo-III .contatos img{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.retangulo-III .midias-sociais img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.retangulo-III .cor-laranja h3{
  display: inline-block;
  color: #ff8c00;
  font-weight: bold;
  margin-bottom: 10px;
}

.retangulo-III p {
  margin-bottom: 5px;
  margin-left: 35px;
  color: #fffefe;
}
.icone img{
  margin-left: 20px;
}  
.retangulo-III {
    display: flex;
    width: 100%;
    height: 545px;
  padding: none;
  border-radius: 5px;
  background-color: rgba(44, 57, 75, 1);
}

.retangulo-III .caixa {
  background-color: rgb(44, 57, 75, 1);
  width: 300px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.retangulo-III .local img,
.retangulo-III .contatos img{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.retangulo-III .midias-sociais img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.flex-map img {
  width:400px ;
  height: 400px;
  margin-left: 60px;
  margin-right: -25;
  margin-top: 30px;
}
.retangulo-III .cor-laranja {
  display: inline-block;
  color: #ff8c00;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.retangulo-III p {
  margin-bottom: 5px;
  color: #fffefe;
  font-size: 12px;
  margin-left: 45px;
}
.icone img{
  margin-left: 20px;
}

/* aqui termina o estilo dessa pag */